# IP address of the host machine (RPi or PC)
IP_ADDRESS=192.168.1.100

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=

# Keycloak admin
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=

# Keycloak realm + client
KEYCLOAK_REALM=
KEYCLOAK_CLIENTID=
KEYCLOAK_CLIENTSECRET=
KEYCLOAK_AUDIENCE=

# Certificate (PFX)
CERTIFICATE_PASSWORD=

# PgAdmin (nur für docker-compose.yml, nicht für RPi)
PGADMIN_PASSWORD=
